.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}

.list {
	display: flex;
	grid-gap: 0 15px;
}

@media (max-width: 900px) {
	.list {
		display: none;
	}
}

.btn_desktop_hidden {
	display: none;
}

@media (max-width: 900px) {
	.btn_desktop_hidden {
		display: block;
		margin: 0 -25px 0 0;
	}
}

@media (max-width: 900px) {
	.btn_movil_hidden {
		display: none;
	}
}
