.main {
  background-color: #2F2A47;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main_container {
    max-width: 720px;
}

@media (max-width: 720px) {
  .main_container {
    max-width: 90vw !important;
  }
}