.Container__Community .Redes:hover{
  -webkit-transform: scale(1.1);
    transform: scale(1.1);
  transition-duration: 300ms;
}


.ItemPost__container:hover {
  border-radius: 10px 10px 0 0;
    background-color: #0e1326!important;
    box-shadow: 0 6px 0 0 #ebce6e;
    -webkit-box-shadow: 0 6px 0 0 #ebce6e;
    -moz-box-shadow: 0 6px 0 0 #ebce6e;
    transform: translateY(-2%);
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    -webkit-transform: translateY(-2%);
    -moz-transform: translateY(-2%);
    -ms-transform: translateY(-2%);
    -o-transform: translateY(-2%);
    transition-duration: .55s;
}

.ItemPost__info {
  padding: 20px 20px;
  background-color: #0d1527;
  border-radius: 0 0 10px 10px;
  justify-content: space-evenly;
}

.proyect-footer-user {
  padding: 10px;
  display: flex;
}
.proyect-conteiner-div:hover{
  border-radius: 10px 10px 0 0;
  background-color: #0e1326!important;
  box-shadow: 0 6px 0 0 #ebce6e;
  -webkit-box-shadow: 0 6px 0 0 #ebce6e;
  -moz-box-shadow: 0 6px 0 0 #ebce6e;
  transform: translateY(-2%);
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -webkit-transform: translateY(-2%);
  -moz-transform: translateY(-2%);
  -ms-transform: translateY(-2%);
  -o-transform: translateY(-2%);
  transition-duration: .55s;
}
.proyect-conteiner-div {
  max-height: 420px;
  max-width: 384px;
}

.proyect-description {
  overflow:hidden; 
   text-overflow:ellipsis;
   display:-webkit-box; 
   -webkit-box-orient:vertical;
   -webkit-line-clamp:3;
   height: 100px;
}

.Post__user-info_username_space {
padding-left: 10px;
}

@media (max-width: 1024px) {
  .proyect-conteiner-div {
    min-width: auto;
  }
}

@media (max-width: 1000px) {
  .proyect-conteiner-div {
    min-width: auto;
  }
}

@media (max-width: 540px) {
  .proyect-description {
    overflow:hidden; 
   text-overflow:ellipsis;
   display:-webkit-box; 
   -webkit-box-orient:vertical;
   -webkit-line-clamp:2;
  }
}
.pass-input{
  margin-top: 10px;
  margin-bottom: 10px;
}
.boton-Entrar{
  background-color: red;
}
.Post__user-info_date {
  color: #4384CD;
}
@media (max-width: 550px) {

  .proyect-footer-user {
    padding: 24px 10px 10px 10px;
    display: flex;
    align-items: center;
  }
}
