
  .Post__user {
    display: flex;
    align-items: center;
  }

  .Post__user-info {
    margin-left: 1rem;
  }

  .Post__user-info_username {
    display: block;
  }

  .Post__user-info_date {
    display: block;
  }

  .slider_title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2rem;
  overflow:hidden; 
text-overflow:ellipsis;
display:-webkit-box; 
-webkit-box-orient:vertical;
-webkit-line-clamp:2;

  }

  .slider_body_text {
   
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "Lato";
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
  }

.Post__container-slide_slider {
  display: flex;
  color: #f9f9f9;
  cursor: pointer;
  box-sizing: border-box;
}


.Post__container-slide_slider {
  display: flex;
}


.Post__info-roundle_slider {
  border-radius: 10px 10px 10px 10px;
}

.Post__image-roundle_slider img {
  border-radius: 10px 10px 10px 10px;
}

.Post__info_slider {
  padding: 18px 18px;
}


@media screen and (min-width: 1201px) {
  .Post__image {
    width: 100%;
  }

  .slide_img_responsive {
    display: none;
  }

  .Post__image img {
    width: 640px;
    height: 360px;
    max-height: 360px;
  }

  .Post__info_slider {
  min-width: 544px;
  max-height: 360px;
  max-width: 544px;
}

  .Post__info_slider {
    padding: 18px 40px;
    margin-left: 15.22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #0e162b;
  }

  .swiper-wrapper {
    transition-duration: 650ms !important;
  }
  
  .swiper-button-prev:hover {
    color: #f9f9f9;
  }
  
  .swiper-button-next:hover {
    color: #f9f9f9;
  }

}


@media screen and (min-width: 1024px) and (max-width: 1200px) {

  .slider_body_text {
   overflow:hidden; 
   text-overflow:ellipsis;
   display:-webkit-box; 
   -webkit-box-orient:vertical;
   -webkit-line-clamp:2;
 }

 .Post__info_slider {
  max-height: 240px;
}

  .Post__info_slider {
    padding: 15px 15px 15px 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #0e162b;
  }

  .Post__info_slider h4 {
    min-height: 76px;
  }

  .swiper-wrapper {
    transition-duration: 650ms !important;
  }

  .swiper-button-prev:hover {
    color: #f9f9f9;
  }

  .swiper-button-next:hover {
    color: #f9f9f9;
  }


  .Post__info-roundle_slider {
    border-radius: 10px;
  }

  .Post__container-slide_slider {
    display: flex;
    color: #f9f9f9;
    cursor: pointer;
    box-sizing: border-box;
  }

  .Post__user-info_username {
    display: block;
  }

  .Post__user-info_date {
    display: block;
  }

  .Post__container-slide_slider {
    display: flex;
  }

  .Post__info_slider {
    margin-left: 0.83%;
  }

  .Post__info-roundle_slider {
    border-radius: 10px 10px 10px 10px;
  }

  .Post__image-roundle_slider img {
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
}

  .Post__image {
    width: 291.333px;
    min-width: 426px;
    
  }

  .Post__image img {
    width: 426px;
    height: 240px;
  }

  .slider_title {
    font-size: 1.8rem;
    height: none;
    font-weight: 700;
    line-height: 2rem;
  }
 
}


@media screen and (min-width: 280px) and (max-width: 1023px) {
  
.swiper-wrapper {
  transition-duration: 650ms !important;
}

.swiper-button-prev:hover {
  color: #f9f9f9;
}

.swiper-button-next:hover {
  color: #f9f9f9;
}
  
  
  .Post__info_slider {
    min-width: none;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    background-color: #0e162b;
  }

  .slider_title {
    font-size: 1.8rem;
    height: none;
    font-weight: 700;
    line-height: 2rem;
  }

  .slider_body_text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "Lato";
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
  }

  .Post__user {
    display: flex;
    align-items: center;
  }

  .Post__user-info {
    margin-left: 1rem;
  }

  .Post__user-info_username {
    display: block;
  }

  .Post__user-info_date {
    display: block;
  }

  .Post__info-roundle_slider {
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
  }

  .Post__image-roundle_slider img {
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
  }

  .Post__info_slider {
    margin-left: 0;
    min-width: none;
  }

  .Post__container-slide_slider {
    display: block;
  }

  .Post__image {
    width: 100%;
    min-height: none;
    height: none;
  }

  .Post__image img {
    width: 100%;
    height: none;
  }
}
