
.boton_link{
	height: 30px !important;
    align-content: flex-end;
    
}
.ItemLink__container {
	color: #FFF;
	cursor: pointer;
}
.ItemLink__info {
	padding: 20px 20px;
	background-color: #0E162B;
	border-radius: 5px;
	font-size: 15px;
}

	

.ItemLink__user {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	grid-gap: 0px 20px;
}
.ItemLink__image img {
	vertical-align: middle;
	border-radius: 10px 10px 0px 0px;
}
.hr_link{
	color: #b89f57;
	border-color: #b89f57;
	border: 2px solid #b89f57;
	width: 20px;
	margin-left: 0px;
    margin-top: 5px;
}

.ItemLink__info:hover{
    border-radius: 10px 10px 0px 0px;
    background-color: #0E1326 !important;
    box-shadow: 0px 6px 0px 0px rgb(235, 206, 110);
    -webkit-box-shadow: 0px 6px 0px 0px rgb(235, 206, 110);
    -moz-box-shadow: 0px 6px 0px 0px rgb(235, 206, 110);
    transform: translateY(-5%);
    
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    transition-duration: 550ms;
}

.ItemLink__info button svg:hover{
  transform: translate(10px,0);
  transition: all 0.5s ease-in-out;
}

.ItemLink__info .css-98rsi1:hover{
	box-shadow: none !important;
	background-color: #b89f57 !important;
}

.boton_links_container {
    justify-content: flex-end;
    display: flex;
}

.ItemLink__info button {
    background-color: #b89f57;
    color: #24294C;
    font-weight: 600 !important;
    font-family: "Lato";
    transition: transform 250ms;
}

.Links-list {
    grid-template-columns: repeat(4, 1fr);
    
}

.links_titulo {
    font-size: 1.3rem;
    font-family: "Poppins";
    font-weight: 500;

}

.ItemLink__info button:hover {
    background-color: #DEC764;
    color: #24294C;
    font-weight: 600 !important;
    font-family: "Lato";
    
}

.Links-list {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: 1rem;
}




@media screen and (min-width: 1024px) and (max-width: 1200px) {
	.Links-list {
    grid-template-columns: repeat(2, 1fr);
    
}
}


@media screen and (min-width: 551px) and (max-width: 1023px) {
    .Links-list {
    grid-template-columns: repeat(2, 1fr);
    
}
}

@media screen and (min-width: 280px) and (max-width: 550px) {
    .Links-list {
    grid-template-columns: repeat(1, 1fr);
    
}
}

