.filter {
	display: flex;
	justify-content: space-between;
}

.opinion {
	padding: 25px 10px 10px 10px;
	background-color: #0d1527;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.filtro_layout {
	margin-top:25px;
	display: flex;
	justify-content: baseline;
}

.opinion__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0 10px;
	
}

.opinion___image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image {
	width: 100px;
	height: 100px;
	background-size: cover;
	border-radius: 100%;
	margin-bottom: 10px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}

.title {
	font-size: 1.5rem;
}

.opinion__footer {
	padding: 5px;
	display: flex;
	justify-content: flex-end;
}

.opinion__footer > span {
	font-size: 14px;
	color: #348cdf;
}

.tag {
	background-color: #13233a;
	padding: 5px;
	border-radius: 10px;
	font-size: 14px;
	color: #54a5fe;
	text-align: center;
	max-width: 90px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}


.rating{
	margin: 10px 0;
}

.modal {
	background-color: #0d1527;
	padding: 20px 10px;
}

.modal p {
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 14px;
	color:#54a5fe;
}

.modal > h2 {
	margin-bottom: 20px;
}



.box__platform{
	padding: 50px;
	display: flex;
	justify-content: space-between;
	background-color: #0D1527;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.box__platform__image{
	display: flex;
	align-items: center;
	grid-gap: 0 20px;
}


.item__platform{
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 0;
	border-bottom: 1px solid #FFF;
}