/*.MuiAvatar-circular {
  background:none !important;
}
*/
.ItemPost__container{
  cursor: pointer;
  margin-top: 20px;
  max-width: 384px;
}
.Colum_Posts-vertical{
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: -24px;
  width: calc(100% + 24px);
  justify-content: center;
}
.Colum_Posts-vertical2{
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: -24px;
  width: calc(100% + 24px);
  justify-content: center;
}

.Colum_Posts-vertical3{
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: -24px;
  justify-content: center;
}


.proyect-conteiner-div{
  max-width: 388px;
  cursor: pointer;
}


.Post__container1{
  max-width: 854px;
  margin: auto;
}
.Markdown_container1{
  max-width: 720px;
  margin: auto;
}
.Markdown_container1 figure{
  justify-content: center;
}

.Post__infor-categories{
  display: flex;
  align-items: center;
}


@media (max-width: 596px) {
  .ItemPost__container {
    max-width: 590px;
    margin-right: 0px;
  }
}

@media (max-width: 320px) {
  .ItemPost__container {
    margin-right: 15px;
  }
}

