.proyect-conteiner-div {
  background: #0d1527;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  /* max-width: 533px; */
}
.proyect-imgc {
  min-width: 100px;
  object-fit: contain;
}
.proyect-imgc span img {
  border-radius: 5px;
}
.proyect-conteiner-imgc {
  display: flex;
  padding: 10px;
}
.display-datos {
  display: block;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  justify-content: space-evenly;
  max-width: 250px;
}
.Contenedor-proyect {
  height: max-content;
  max-width: 854px;
  margin: auto;
}
.proyect-datos2 {
  background-color: #13233a;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  color: #54a5fe;
  text-align: center;
  max-width: 90px;
}
.proyect-datos4 {
  font-size: 1.5rem;
  line-height: 1.6rem;
  margin-bottom: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 200px;
  margin-left: 10px;
}
.proyect-description {
  min-height: 105px;
  padding: 10px;
}
.proyect-datos3 {
  display: flex;
}
.proyect-datos3 a {
  margin-right: 10px;
}
.ItemProyect__user-image {
  display: flex;
  vertical-align: center !important;
  align-items: center;
}
.ItemProyect__user-info {
  margin-left: 10px;
}

.proyect-footer-boton {
  display: flex;
  vertical-align: center !important;
  align-items: center;
  border-radius: 5px;
}
.proyect-footer-boton-clas {
  background-color: #13233a;
  padding: 10px;
  height: 40px;
  display: flex;
  font-size: 12px;
  vertical-align: center !important;
  align-items: center;
  border-radius: 5px;
}

.proyect-footer-boton-clas:hover {
  background-color: #394f6e;
  transition-delay: 200ms;
}

.proyect-footer-user {
  display: flex;
  justify-content: space-between;
}

.proyect-datos4 {
  display: none;
}

.proyect-datos1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 1.3rem;
  font-family: "Poppins";
}
@media only screen and (max-width: 1200px) {
  .proyect-datos1 {
    width: 140px;
  }

  .proyect-datos3 {
    display: none;
  }

  .proyect-datos4 {
    display: flex;
    margin-top: 5px;
    margin-bottom: 1px;
  }
}
@media (width: 1024px) {
  .proyect-datos3 {
    display: none;
  }
  .Contenedor-proyect-grid1 {
    grid-template-rows: 1fr 2fr 1fr;
  }
}
#cont-redes {
  margin-left: 20px;
}

#cont-img {
  grid-area: cont-img;
  width: 180px;
  height: 180px;
}
#cont-redes {
  height: 180px;
  grid-area: cont-redes;
}
.cont-categoria span {
  display: grid;
  align-items: center;
}
#cont-datos {
  height: 180px;
  grid-area: cont-datos;
}
.proyect-category2 {
  height: 30px !important;
  padding: 5px;
  background-color: #13233a;
  border-radius: 10px;
  font-size: 10px;
  color: #54a5fe;
  text-align: center;
  max-width: 90px;
  display: none !important;
}
.proyect-category {
  height: 30px !important;
  padding: 5px;
  background-color: #13233a;
  border-radius: 10px;
  font-size: 10px;
  color: #54a5fe;
  text-align: center;
  max-width: 90px;
}
#cont-title {
  grid-area: cont-title;
}
.title-descripcion-proyect {
  margin-top: 50px;
  margin-botton:20px;
}

.title-descripcion-proyect h2 {
  font-size: 36px;
  font-weight: 600;
}
.contenedor-descripcion {
  margin: auto;
}
.border-shared {
  float: right;
  width: max-content;
  border: 1px solid #54a5fe;
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
}
.contenedor-shared span {
  display: flex;
  align-items: center;
}
#cont-categoria {
  display: grid;
  align-items: center;
  height: 60px;
  grid-area: cont-categoria;
}
#cont-redes-icons {
  display: grid;
  align-items: center;
  height: 60px;
  grid-area: cont-redes-icons;
  width: max-content;
}

.cont-redes-icons a {
  margin-right: 10px;
}

.cont-title h1 {
  font-size: 36px;
  margin: 0;
  font-weight: 700;
}
.cont-title-display h1 {
  font-size: 36px;
  margin: 0;
  font-weight: 700;
  display: none !important;
}

#twitter {
  grid-area: twitter;
}
#website {
  grid-area: website;
}
#discord {
  grid-area: discord;
}
#medium {
  grid-area: medium;
}
#telegramgrupo {
  grid-area: telegramgrupo;
}
#telegramcanal {
  grid-area: telegramcanal;
}
#blog {
  grid-area: blog;
}

.Contenedor-proyect-grid1 {
  display: grid !important;
  width: 100%;
  grid-template-areas: "cont-img cont-redes";
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 3fr;
}
.cont-redes {
  display: grid !important;
  width: 100%;
  grid-template-areas:
    "cont-title"
    "cont-categoria"
    "cont-redes-icons";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}
.cont-redes-icons {
  display: grid !important;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.cont-redes-icons-display {
  display: none !important;
}

@media (max-width: 425px) {
  .cont-title-display h1 {
    display: flex !important;
  }
  .cont-title h1 {
    display: none !important;
  }
  .proyect-category2 {
    display: grid !important;
  }
  .proyect-category {
    display: none !important;
  }
  .cont-redes-icons {
    display: none !important;
  }
  .cont-redes-icons-display {
    display: flex !important;
  }
}
